.grid {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  flex: 1;
}

.grid__row {
  display: flex;
  height: 40px;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid var(--color-border-separator);
  color: var(--title-color);
  &:not(.grid__row-header):hover {
    background-color: var(--color__backgroud-hover);
  }
}

.grid__row-header {
  background-color: var(--grid__row-header-color);
  color: #FFFFFF;
  border-bottom: none;
}

.grid__row-body {
  & div.check-box--selected {
    background-color: var(--grid__body__check-box__selected);
  }
  & svg.icon__check-mark {
    fill: var(--grid__body__check-box__icon-color);
  }
}

.grid__cell {
  display: flex;
  padding-left: 8px;
  max-height: 100%;
  word-break: break-all;
  overflow: hidden;
}
