.theme__main {
  --title-color: #27292D;
  --background-color: #FFFFFF;
  --grid__row-header-color: #459DF5;
  --grid__body__check-box__selected: #459DF5;
  --grid__body__check-box__icon-color: #FFFFFF;
  --component-hover-color: #DBECFB;
  --component-selected-color: #FFFFFF;
  --component-border-color: #459DF5;
  --component-background-color: #FFFFFF;
}

.theme__black-theme {
  --title-color: #FFFFFF;
  --background-color: #2B2B2B;
  --grid__row-header-color: #234F7A;
  --grid__body__check-box__selected: #234F7A;
  --grid__body__check-box__icon-color: #FFFFFF;
  --component-hover-color: #A8B6C1;
  --component-selected-color: #FFFFFF;
  --component-border-color: #234F7A;
  --component-background-color: #FFFFFF;
}
